@model Domain.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCard" class="control-label"></label>
                <input asp-for="IdCard" name="IdCard" class="form-control" value="@Model.IdCard" readonly/>
                <span asp-validation-for="IdCard" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" name="FirstName" class="form-control" value="@Model.FirstName"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" name="LastName" class="form-control" value="@Model.LastName"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="GroupFK" class="control-label"></label>
                <input asp-for="GroupFK" name="GroupFK" class="form-control" value="@Model.GroupFK"/>
                <span asp-validation-for="GroupFK" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Upload file</label>
                <input name="File" type="file" class="form-control"/>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mb-1" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

